[Desktop Entry]
Type=AkonadiSearchPlugin
Name=Akonadi Search Plugin
X-Akonadi-Library=akonadi_search_plugin
X-Akonadi-ClassName=SearchPlugin
X-Akonadi-LoadByDefault=true
