[Desktop Entry]
Name=Akonadi Indexing Agent

Type=AkonadiAgent
Exec=akonadi_indexing_agent
Icon=baloo

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_indexing_agent
