[Desktop Entry]
Name=Akonadi Indexing Agent
Name[ar]=وسيط «أكونادي» للفهرسة
Name[az]=Akonadi İndeksləyici Agenti
Name[ca]=Agent d'indexació de l'Akonadi
Name[ca@valencia]=Agent d'indexació de l'Akonadi
Name[cs]=Indexovací agent Akonadi
Name[da]=Indekseringsagent til Akonadi
Name[de]=Akonadi-Indizierungsagent
Name[el]=Πράκτορας δεικτοδότησης Akonadi
Name[en_GB]=Akonadi Indexing Agent
Name[es]=Agente de indexado de Akonadi
Name[et]=Akonadi indekseerimise agent
Name[eu]=Akonadi-ren indexatzeko agentea
Name[fi]=Akonadin indeksointiagentti
Name[fr]=Agent d'indexation Akonadi
Name[gl]=Axente de indexación de Akonadi
Name[hi]=आकोनाडी अनुक्रमणिकार
Name[hu]=Akonadi indexelő szolgáltatás
Name[ia]=Agente de indicisation de Baloo de Akonadi
Name[it]=Agente di indicizzazione Akonadi
Name[ko]=Akonadi 색인 에이전트
Name[lt]=Akonadi indeksavimas agentas
Name[nl]=Akonadi-agent voor indexering
Name[nn]=Akonadi indekseringsagent
Name[pl]=Usługa indeksowania Akonadi
Name[pt]=Agente de Indexação do Akonadi
Name[pt_BR]=Agente de Indexação do Akonadi
Name[ru]=Агент индексирования данных из Akonadi
Name[sk]=Agent indexovania Akonadi
Name[sl]=Akonadijev posrednik za izgrajevanje kazal
Name[sr]=Аконадијев агент индексирања
Name[sr@ijekavian]=Аконадијев агент индексирања
Name[sr@ijekavianlatin]=Akonadijev agent indeksiranja
Name[sr@latin]=Akonadijev agent indeksiranja
Name[sv]=Akonadi indexeringsmodul
Name[tr]=Akonadi İndeksleme Aracı
Name[uk]=Агент індексування для Akonadi
Name[x-test]=xxAkonadi Indexing Agentxx
Name[zh_CN]=Akonadi 索引器
Name[zh_TW]=Akonadi 索引精靈

Type=AkonadiAgent
Exec=akonadi_indexing_agent
Icon=baloo

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_indexing_agent
