[Desktop Entry]
Name=Akonadi Indexing Agent
Name[ast]=Axente d'índiz Baloo d'Akonadi
Name[ca]=Agent d'indexació de l'Akonadi
Name[cs]=Indexovací agent Akonadi
Name[de]=Akonadi-Indizierungsagent
Name[es]=Agente de indexación de Akonadi
Name[fi]=Akonadin indeksointiagentti
Name[gl]=Axente de indexación de Akonadi
Name[it]=Agente di indicizzazione Akonadi
Name[nl]=Akonadi-agent voor indexering
Name[pl]=Usługa indeksowania Akonadi
Name[pt]=Agente de Indexação do Akonadi
Name[pt_BR]=Agente de Indexação do Akonadi
Name[sk]=Agent indexovania Akonadi
Name[sv]=Akonadi indexeringsmodul
Name[tr]=Akonadi İndeksleme Aracı
Name[uk]=Агент індексування для Akonadi
Name[x-test]=xxAkonadi Indexing Agentxx
Name[zh_CN]=Akonadi 索引器

Type=AkonadiAgent
Exec=akonadi_indexing_agent
Icon=baloo

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_indexing_agent
