[Desktop Entry]
Name=PIM Contacts Search
Name[ar]=بحث في متراسلي PIM
Name[ast]=Gueta de contautos de PIM
Name[ca]=Cerca de contactes PIM
Name[ca@valencia]=Cerca de contactes PIM
Name[da]=Søgning i PIM-kontakter
Name[de]=PIM-Kontaktsuche
Name[en_GB]=PIM Contacts Search
Name[es]=Búsqueda de contactos PIM
Name[fi]=PIM-yhteystietojen haku
Name[gl]=Busca de contactos
Name[it]=Ricerca contatti PIM
Name[ko]=PIM 연락처 검색
Name[nl]=PIM in contactpersonen zoeken
Name[pl]=Wyszukiwanie kontaktów ZIO
Name[pt]=Pesquisa de Contactos PIM
Name[pt_BR]=Pesquisa de Contatos PIM
Name[ru]=Поиск контактов в PIM
Name[sk]=Hľadanie kontaktov PIM
Name[sl]=Iskanjem PIM po stikih
Name[sr]=Претрага ПИМ контаката
Name[sr@ijekavian]=Претрага ПИМ контаката
Name[sr@ijekavianlatin]=Pretraga PIM kontakata
Name[sr@latin]=Pretraga PIM kontakata
Name[sv]=Kontaktsökning i personlig informationshantering
Name[uk]=Пошук у записах контактів PIM
Name[x-test]=xxPIM Contacts Searchxx
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_krunner_pimcontacts
X-KDE-ParentComponents=PIM Contacts Search Runner
X-KDE-PluginKeyword=kcm_krunner_pimcontacts
