[Desktop Entry]
Name=PIM Contacts Search
Name[ca]=Cerca de contactes PIM
Name[ca@valencia]=Cerca de contactes PIM
Name[da]=Søgning i PIM-kontakter
Name[de]=PIM-Kontaktsuche
Name[en_GB]=PIM Contacts Search
Name[es]=Búsqueda de contactos PIM
Name[et]=PIM-i kontaktide otsing
Name[fi]=PIM-yhteystietojen haku
Name[gl]=Busca de contactos
Name[it]=Ricerca contatti PIM
Name[ko]=PIM 연락처 검색
Name[nl]=PIM in contactpersonen zoeken
Name[pl]=Wyszukiwanie kontaktów ZIO
Name[pt]=Pesquisa de Contactos PIM
Name[pt_BR]=Pesquisa de Contatos PIM
Name[ru]=Поиск контактов в PIM
Name[sk]=Hľadanie kontaktov PIM
Name[sl]=Iskanjem PIM po stikih
Name[sr]=Претрага ПИМ контаката
Name[sr@ijekavian]=Претрага ПИМ контаката
Name[sr@ijekavianlatin]=Pretraga PIM kontakata
Name[sr@latin]=Pretraga PIM kontakata
Name[sv]=Kontaktsökning i personlig informationshantering
Name[uk]=Пошук у записах контактів PIM
Name[x-test]=xxPIM Contacts Searchxx
Name[zh_CN]=个人信息存储联系人搜索
Name[zh_TW]=PIM 聯絡人搜尋
Comment=Runner which searches through your contacts
Comment[ca]=Executor que cerca a través dels vostres contactes
Comment[ca@valencia]=Executor que cerca a través dels vostres contactes
Comment[da]=Runner som søger efter dine kontakter
Comment[de]=Runner, der Ihre Kontakte durchsucht
Comment[en_GB]=Runner which searches through your contacts
Comment[es]=Lanzador que busca por sus contactos
Comment[et]=Käivitaja, mis otsib sinu kontaktides
Comment[fi]=Suoritusohjelma, joka etsii yhteystiedoista
Comment[gl]=Executor que busca contactos.
Comment[it]=Esecutore che cerca tra i contatti
Comment[ko]=연락처를 검색하는 실행기
Comment[nl]=Programma dat uw contactpersonen doorzoekt
Comment[pl]=Usługa wyszukująca kontaktów
Comment[pt]=Módulo de execução que pesquisa nos seus contactos
Comment[pt_BR]=Módulo de execução que pesquisa nos seus contatos
Comment[ru]=Модуль для поиска и открытия контактов
Comment[sk]=Program, ktorý prehľadáva vaše kontakty
Comment[sl]=Zaganjalnik, ki preišče vaše stike
Comment[sr]=Извођач који тражи кроз ваше контакте
Comment[sr@ijekavian]=Извођач који тражи кроз ваше контакте
Comment[sr@ijekavianlatin]=Izvođač koji traži kroz vaše kontakte
Comment[sr@latin]=Izvođač koji traži kroz vaše kontakte
Comment[sv]=Körprogram som söker igenom kontakter
Comment[uk]=Засіб запуску для пошуку у записах ваших контактів
Comment[x-test]=xxRunner which searches through your contactsxx
Comment[zh_CN]=搜索您的联系人的运行器
Comment[zh_TW]=搜尋您的聯絡人的執行器
Type=Service
Icon=view-pim-contacts

X-KDE-ServiceTypes=Plasma/Runner
X-KDE-Library=krunner_pimcontacts
X-KDE-PluginInfo-Author=Daniel Vrátil
X-KDE-PluginInfo-Email=dvratil@kde.org
X-KDE-PluginInfo-Name=PIM Contacts Search Runner
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-KDE-PluginInfo-EnabledByDefault=true
