[Desktop Entry]
Name=PIM Contacts Search
Name[ca]=Cerca de contactes PIM
Name[nl]=PIM in contactpersonen zoeken
Name[pt]=Pesquisa de Contactos PIM
Name[pt_BR]=Pesquisa de Contatos PIM
Name[uk]=Пошук у записах контактів PIM
Name[x-test]=xxPIM Contacts Searchxx
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_krunner_pimcontacts
X-KDE-ParentComponents=PIM Contacts Search Runner
X-KDE-PluginKeyword=kcm_krunner_pimcontacts
