[Desktop Entry]
Name=PIM Contacts Search
Name[ca]=Cerca de contactes PIM
Name[de]=PIM-Kontaktsuche
Name[en_GB]=PIM Contacts Search
Name[es]=Búsqueda de contactos PIM
Name[fi]=PIM-yhteystietojen haku
Name[nl]=PIM in contactpersonen zoeken
Name[pl]=Wyszukiwanie kontaktów ZIO
Name[pt]=Pesquisa de Contactos PIM
Name[pt_BR]=Pesquisa de Contatos PIM
Name[sl]=Iskanjem PIM po stikih
Name[sr]=Претрага ПИМ контаката
Name[sr@ijekavian]=Претрага ПИМ контаката
Name[sr@ijekavianlatin]=Pretraga PIM kontakata
Name[sr@latin]=Pretraga PIM kontakata
Name[sv]=Kontaktsökning i personlig informationshantering
Name[uk]=Пошук у записах контактів PIM
Name[x-test]=xxPIM Contacts Searchxx
Comment=Runner which searches through your contacts
Comment[ca]=Executor que cerca a través dels vostres contactes
Comment[en_GB]=Runner which searches through your contacts
Comment[es]=Agente que busca por sus contactos
Comment[fi]=Suoritusohjelma, joka etsii yhteystiedoista
Comment[nl]=Programma dat uw contactpersonen doorzoekt
Comment[pl]=Usługa wyszukująca kontaktów
Comment[pt]=Módulo de execução que pesquisa nos seus contactos
Comment[pt_BR]=Módulo de execução que pesquisa nos seus contatos
Comment[sl]=Zaganjalnik, ki preišče vaše stike
Comment[sr]=Извођач који тражи кроз ваше контакте
Comment[sr@ijekavian]=Извођач који тражи кроз ваше контакте
Comment[sr@ijekavianlatin]=Izvođač koji traži kroz vaše kontakte
Comment[sr@latin]=Izvođač koji traži kroz vaše kontakte
Comment[sv]=Körprogram som söker igenom kontakter
Comment[uk]=Засіб запуску для пошуку у записах ваших контактів
Comment[x-test]=xxRunner which searches through your contactsxx
Type=Service
Icon=view-pim-contacts

X-KDE-ServiceTypes=Plasma/Runner
X-KDE-Library=krunner_pimcontacts
X-KDE-PluginInfo-Author=Daniel Vrátil
X-KDE-PluginInfo-Email=dvratil@kde.org
X-KDE-PluginInfo-Name=PIM Contacts Search Runner
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-KDE-PluginInfo-EnabledByDefault=true
